<div class="header-bottom header-sticky stick d-none d-lg-block d-xl-block">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="hb-menu">
            <nav>
              <ul>
                <li class="dropdown-holder"><a href="index.html">Home</a>
                  <ul class="hb-dropdown">
                    <li><a href="index.html">Home One</a></li>
                    <li><a href="index-2.html">Home Two</a></li>
                    <li><a href="index-3.html">Home Three</a></li>
                    <li class="active"><a href="index-4.html">Home Four</a></li>
                  </ul>
                </li>
                <li class="megamenu-holder"><a href="shop-left-sidebar.html">Shop</a>
                  <ul class="megamenu hb-megamenu">
                    <li><a href="shop-left-sidebar.html">Shop Page Layout</a>
                      <ul>
                        <li><a href="shop-3-column.html">Shop 3 Column</a></li>
                        <li><a href="shop-4-column.html">Shop 4 Column</a></li>
                        <li><a href="shop-left-sidebar.html">Shop Left Sidebar</a></li>
                        <li><a href="shop-right-sidebar.html">Shop Right Sidebar</a></li>
                        <li><a href="shop-list.html">Shop List</a></li>
                        <li><a href="shop-list-left-sidebar.html">Shop List Left Sidebar</a></li>
                        <li><a href="shop-list-right-sidebar.html">Shop List Right Sidebar</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li><a href="about-us.html">About Us</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="shop-left-sidebar.html">Smartwatch</a></li>
                <li><a href="shop-left-sidebar.html">Accessories</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  